.body{
    color:white;
    height: 100vh;/*this line and the line below help to keep the sidebar fixed & scroll only the body*/
    display: block;

    margin-left:260px;
    margin-top: 50px;
    width:95%;
}

.body::-webkit-scrollbar{
    display:none;
}

.body__info{
    display:flex;
    align-items:flex-end;/* push the items in the line at the bottom */
    padding:10px;
}

.body__info > img {
    height:20vw;
    margin:0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText {
    flex: 0.9;/* covers the remaining space */
}
  
  .body__infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .body__infoText > p {
    font-size: 14px;
  }

.body__icons{
    display: flex;
    align-items: center;
}

.body__icons > .MuiSvgIcon-root {
    margin-right: 20px;
  }

  .body__playPause {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .body__playPause.active{
    color:#1ed15e;
  }
  .body__playPause:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
  }

  .body__songs {
    z-index: 1;
    margin: 20px -30px;
    padding-bottom:70px;
  }